@using DayOfFun.Models.DB
@{
    ViewData["title"] = "List of quizes";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <tbody>
            @foreach (var quiz in Model)
            {
                <tr>
                    <td class="align-middle">@quiz.Title</td>
                    <td class="align-middle">@quiz.State.ToString()</td>
                    <td>
                        @switch (quiz.State)
                        {
                            case State.CREATED: 
                                <a asp-controller="Quiz" asp-action="Delete" asp-route-id="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>delete</a>
                                <a asp-controller="Quiz" asp-action="Users" asp-route-quizId="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>share</a>
                                <a asp-controller="Quiz" asp-action="Edit" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Add questions</a>
                                break;
                            case State.PREPARED:
                                <a asp-controller="Quiz" asp-action="Delete" asp-route-id="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>delete</a>
                                <a asp-controller="Quiz" asp-action="Users" asp-route-quizId="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>share</a>
                                <a asp-controller="Quiz" asp-action="Fill" asp-route-id="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>fill</a>
                                break;
                            case State.WAITING: 
                                <button class="btn btn-primary" asp-action="Fill" asp-controller="Quiz"> fill </button>
                                break;
                            case State.FINISHED:
                                <a asp-controller="Quiz" asp-action="Details" asp-route-id="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>view results</a>
                                <button class="btn btn-primary">view detail</button>
                                <a asp-controller="Quiz" asp-action="Delete" asp-route-id="@quiz.Id" class="btn btn-primary"><i class="bi bi-plus-circle"></i>delete</a>
                                                               
                                break;
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="modal fade d-none" id="popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    TEXTE TEXT TEXT
                </div>
            </div>
        </div>
    </div>
    <div class="text-white">
        <a asp-controller="Quiz" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add-new</a>
    </div>
</div>
@section Scripts
{
    <script>
    </script>
}
