@using Azure.Core
@model IEnumerable<DayOfFun.Models.View.UserDetailsModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser"
        data-url="@Url.Action("Share")">Share with others</button>
<div id="PlaceHolderHere"></div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Responded
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFinished)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Username</th>
            <th>@item.Email</th>
            <th>@item.NumberOfAnswers/@item.NumberOfQuestions</th>
            <th>
                @if (@item.IsFinished)
                {
                    <div>FINISHED</div>
                }
                else if (@item.IsResponded)
                {
                    <div>STARTED</div>
                }
                else
                {
                    <div>NOT STARTED</div>
                }
            </th>
            
            <th>
                <div class="row">
                    @if (@item.IsResponded == false)
                    {
                        <div class="col-6"><a asp-action="Exclude" asp-route-QuizId="@item.QuizId" asp-route-email="@item.Email">DELETE</a></div>
                    }
                    @if (item.Email != Context.Session.GetString("Email"))
                    {
                        <div class="col-6 link-primary cursor-pointer" onclick="copyURLToCLipboard(this)" data-value="@Url.Action("Fill", "Public", item.QuizId, "https")" email="@item.Email">COPY TO CLIPBOARD</div>
                    }
                </div>
            </th>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index"> Back to List</a>
</div>


@section Scripts
{
    <script>
        $(document).ready( function() {
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url') + "?" + document.URL.split("?")[1];
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })
            
            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize() + "&" + document.URL.split("?")[1];
                $.post(actionUrl, sendData)
                    .done(function (data) {
                        toastr.success(data.message); 
                        PlaceHolderElement.find('.modal').modal('hide');
                        location.reload();
                    })
                    .fail(function (data) {
                        toastr.error(data.responseJSON.message);
                    })
            })
            
            PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
                PlaceHolderElement.find('.modal').modal('hide');
            })
        })
            
        function copyURLToCLipboard(clickedElement) {
            var text = clickedElement.getAttribute('data-value') + '?id=' + document.URL.split("?quizId=")[1] + "&email=" + encodeURIComponent(clickedElement.getAttribute('email'));
            navigator.clipboard.writeText(text).then(function () {
                toastr.success('It worked! Do a CTRL - V to paste');
            }, function () {
                toastr.error('Failure to copy. Check permissions for clipboard');
            });
        }
        
        function showModal() {
        var popup = document.getElementById("popup");
        popup.classList.remove("d-none");
        };  
    </script>
}